{% for day in days %}
<table class="table table-hover mb-5">
    <thead>
        <tr>
            <!-- Выводим дату дня из Python -->
            <th colspan="4" class="text-center" style="background-color:rgb(54, 54, 54); color:aliceblue">
                {{ day.date_string }}
            </th>
        </tr>
        {%if day.events%}
        <tr>
            <th scope="col">Начало-Конец</th>
            <th scope="col">Понедельник</th>
            <th scope="col">Вторник</th>
            <th scope="col">Среда</th>
            <th scope="col">Четверг</th>
            <th scope="col">Пятница</th>
            <th scope="col">Суббота</th>
            <th scope="col">Воскресенье</th>
        </tr>
        {%else%}
        <tr>
            <th colspan="8" class="text-center" scope="col" style="background-color:rgb(207, 207, 207);">Нет событий</th>
        </tr>
        {%endif%}
    </thead>
    <tbody>
        {% for row in matrix %}
        <tr>
            {% for elem in row%}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}

<!-- Передаем JS следующую дату для запроса -->
<div id="next-date-marker" data-next="{{ next_date }}"></div>